.Menu:hover{
    background-color: #83c314;
    grid-column-gap: 10px;
}
.Home:hover{
    font-family: fantasy;
    font-weight: bold;
}

.Letra {
    color: #000000;
  }

.body {
    background-color: rgba(0, 0, 0, 0.494);
  }
  
button {
    border-radius: 5px;
}

